<div class="flex flex-col items-center border-t mb-8">
  <p class="mt-8">
    made by
    <a
      class="underline hover:text-base-dark"
      href="https://twitter.com/tristan_virtual"
      >Tristan Espinoza</a
    >.
  </p>
  <p class="mt-4">
    If you have a comment or suggestion for the project, feel free to get in
    touch or open an issue on
    <a
      class="underline hover:text-base-dark"
      href="https://github.com/tespin/owen-wilson-search-engine"
      >GitHub</a
    >.
  </p>
</div>
