<div class="flex flex-row justify-between xs:w-full">
  <a href="#">Owen Wilson Search Engine</a>
  <img
    src="/images/hamburger-menu.svg"
    alt="A hamburger menu"
    height="20"
    width="20"
  />
</div>
