<div class="flex xs:flex-col xs:mt-4">
  <div class="xs:mb-8">
    <img
      src="<%=src%>"
      class="xs:w-96 xs:h-96 object-cover xs:rounded-md xs:shadow-md"
    />
    <div class="flex flex-row justify-between xs:w-full xs:mt-2">
      <p>"<%=fullLine%>"</p>
      <p class="text-gray-400"><%=movieTitle%> <%=(movieYear)%></p>
    </div>
  </div>
</div>
