<div class="flex justify-center border-b">
  <form
    action="/search/1/movies"
    class="relative xs:w-full flex justify-center"
    autocomplete="off"
    method="GET"
  >
    <input
      type="text"
      name="title"
      placeholder="Search for a movie title ..."
      class="search-input bg-white border border-black/10 py-2 px-4 xs:mt-8 xs:mb-12 xs:w-full max-w-lg rounded-lg drop-shadow-sm hover:drop-shadow-md placeholder:text-black/40"
    />
    <ul
      class="autocomplete-results absolute hidden bg-white border top-20 rounded-lg xs:w-full z-10"
    ></ul>
  </form>
</div>
