<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Supplyframe Full Stack Intern Challenge</title>
    <meta
      name="description"
      content="Submission for Supply3frame Full Stack Intern Challenge"
      <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link href="/css/output.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="flex xs:flex-col xs:justify-center xs:items-center xs:mt-8">
      <h1 class="text-4xl">Supplyframe Full Stack Intern Challenge</h1>
      <button
        class="bg-transparent border-2 border-black mt-4 rounded-lg py-2 px-6"
      >
        Get Info
      </button>
    </div>
  </body>
</html>
