<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Owen Wilson Wow Search Engine</title>
    <meta
      name="description"
      content="Submission for Supply3frame Full Stack Intern Challenge"
      <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link href="/css/output.css" rel="stylesheet" type="text/css" />
    <script src="/scripts/searchBar.js" type="module"></script>
  </head>
  <body>
    <div
      class="flex w-full xs:flex-col xs:justify-center xs:items-center xs:mt-8"
    >
      <div class="flex xs:flex-col xs:max-w-sm">
        <div class="flex flex-row justify-between xs:w-full">
          <a href="#">Owen Wilson Search Engine</a>
          <img
            src="/images/hamburger-menu.svg"
            alt="A hamburger menu"
            height="20"
            width="20"
          />
        </div>
        <main>
          <div class="flex flex-col xs:w-full xs:mt-10">
            <h1 class="text-4xl text-center">
              Find every instance of Owen Wilson saying "wow" in cinema
            </h1>
            <form action="/" class="relative" method="POST">
              <input
                type="text"
                name="title"
                placeholder="Search for a movie title"
                class="search-input bg-white border-2 border-black py-2 px-4 xs:mt-8 rounded-lg xs:w-full"
              />
              <ul
                class="search-results absolute bg-white border-2 xs:w-full z-10 xs:py-1"
              ></ul>
            </form>
            <p class="search-meta"></p>
            <div class="flex xs:flex-col xs:mt-8">
              <h2 class="text-2xl">Random Wows</h2>
              <%for (let result in results){%>
              <div class="flex xs:flex-col xs:mt-4">
                <div class="xs:mb-8">
                  <img
                    src="<%=results[result].poster%>"
                    class="xs:w-96 xs:h-96 object-cover xs:rounded-md xs:shadow-md"
                  />
                  <div class="flex flex-row justify-between xs:w-full xs:mt-2">
                    <p><%=`"${results[result].full_line}"`%></p>
                    <p class="text-gray-400">
                      <%=`${results[result].movie} (${results[result].year})`%>
                    </p>
                  </div>
                </div>
              </div>
              <%}%>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
