<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Supplyframe Full Stack Intern Challenge</title>
    <meta
      name="description"
      content="Submission for Supplyframe Full Stack Intern Challenge"
      <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link href="/css/output.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="xs:flex xs:justify-center xs:items-center">
      <h1 class="text-3xl">Supplyframe Full Stack Intern Challenge</h1>
    </div>
  </body>
</html>
