<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Supplyframe Full Stack Intern Challenge</title>
    <meta
      name="description"
      content="Submission for Supplyframe Full Stack Intern Challenge"
      <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
  </head>
  <body>
    <h1>Supplyframe Full Stack Intern Challenge</h1>
  </body>
</html>
